---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro'
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<MainLayout>
  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {posts.map(post => (
        <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow">
         
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-800 truncate">{post.data.title}</h3>
            <p class="text-sm text-gray-600 mt-2">
              {post.data.description.length > 150 ? `${post.data.description.substring(0, 150)}...` : post.data.description}
            </p>
            <a 
               href={`/blog/${post.slug}/`} 
              class="block mt-4 text-blue-600 hover:underline text-sm font-semibold"
            >
              Read More →
            </a>
          </div>
        </div>
      ))}
    </div>
  </section>
</MainLayout>
