---
import MainLayout from '../layouts/MainLayout.astro';
import PlayerTable from '../components/PlayerTable.tsx'; // Import React component
import junior_data from '../data/JuniorRoster.js'; // Pass data to React component
---

<MainLayout>
  <!-- Story Intro Section -->
  <div id="story_intro" class="w-full mx-auto px-8 py-4">
    <h1 class="text-3xl font-bold">Junior Roster</h1>
    <p>Filter and explore the player roster below:</p>
	<p class="py-4">This data only represents offensive and defensive snaps, it does not include special teams. Snaps are PFF counts, as reported by Husker Online.</p>
  </div>

  <!-- Filters and Player Table Section -->
  <div class="w-full mx-auto px-8 py-4">
    <div class="bg-gray-300 shadow-md rounded-lg p-10">
      <!-- React Component with Filters -->
      <PlayerTable data={junior_data} client:visible />
    </div>
  </div>
</MainLayout>
