---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <section>
    <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow p-4">
        <div class="my-4">There is more to review on this site, other than just the articles. For example, there is a visual for offensive efficiency and another for regular season game results. However most of the other visuals on the site have not been optimized for mobile screens (that may happen one day).</div>
        <div class="my-4">To view those visualizations and have the best experience, return on a screen that is at least 1280px wide. This is viewable on most desktop and laptop monitors, or on something like a iPad Pro 12.9-inch on landscape view.</div>
    </div>
  </section>
</MainLayout>
