---
// Component Imports
import MainLayout from '../layouts/MainLayout.astro';
import PlayerTable from '../components/PlayerTable';

import freshmen_data from '../data/PlayerRoster';

const freshmen_count = freshmen_data.length
---

<MainLayout>
	<!-- Story Intro Section -->
	<div id="story_intro" class="w-full mx-auto px-8 py-4">
		<div class="bg-white shadow-md rounded-lg p-10 flex flex-col md:flex-row items-start">
			
			<!-- Text Content Column -->
			<div class="md:w-full md:pr-8">
				<p class="mb-4 text-gray-700">
					<h1 class="text-2xl text-gray-700">How are the Huskers utilizing the Roster?</h1>
				</p>
				<p class="my-4 text-gray-700">
					<p>Stats through 9 games</p>
					<p>Only includes Offensive and Defensive Snaps</p>
					<p>Freshmen class details below, will add others soon</p>
					<table class="min-w-full bg-white border border-gray-300">
						<thead>
							<tr class="bg-gray-200 text-gray-700 uppercase text-sm leading-normal">
								<th class="py-3 px-6 text-left">Year</th>
								<th class="py-3 px-6 text-left">Total Snaps</th>
								<th class="py-3 px-6 text-left">Percentage of Snaps</th>
								<th class="py-3 px-6 text-left">Games Played</th>
								<th class="py-3 px-6 text-left">Players on Roster</th>
							</tr>
						</thead>
						<tbody class="text-gray-600 text-sm font-light">
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-3 px-6 text-left">Freshmen</td>
								<td class="py-3 px-6 text-left">2175</td>
								<td class="py-3 px-6 text-left">16.57%</td>
								<td class="py-3 px-6 text-left">130</td>
								<td class="py-3 px-6 text-left">81</td>								
							</tr>
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-3 px-6 text-left">Sophomore</td>
								<td class="py-3 px-6 text-left">2097</td>
								<td class="py-3 px-6 text-left">15.98%</td>
								<td class="py-3 px-6 text-left">106</td>
								<td class="py-3 px-6 text-left">25</td>
							</tr>
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-3 px-6 text-left">Junior</td>
								<td class="py-3 px-6 text-left">3491</td>
								<td class="py-3 px-6 text-left">26.60%</td>
								<td class="py-3 px-6 text-left">132</td>
								<td class="py-3 px-6 text-left">26</td>
							</tr>
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-3 px-6 text-left">Senior</td>
								<td class="py-3 px-6 text-left">5363</td>
								<td class="py-3 px-6 text-left">40.86%</td>
								<td class="py-3 px-6 text-left">125</td>
								<td class="py-3 px-6 text-left">19</td>
							</tr>
						</tbody>
					</table>
					
				</p>
			</div>
		</div>
	</div>
	
	<!-- Charts Section -->
    <div class="w-full mx-auto px-8 py-4">
        <div class="bg-gray-300 shadow-md rounded-lg p-10 flex flex-col md:flex-row space-x-4">
          <div class="w-full">
			<h2 class="text-2xl text-gray-900">Freshmen</h2>
            <PlayerTable data={freshmen_data} />
          </div>
        </div>
      </div>
	
</MainLayout>