---
import { Image } from 'astro:assets';
import profilePic from "../content/blog/images/profile-picture.png";
---

<header class="flex items-center justify-between p-4 bg-white border-b">
    <h1 class="text-xl font-semibold"></h1>
    <!-- Optional: User Profile or Other Header Content -->
    <div class="flex items-center">
      <Image
				src={profilePic}
				alt="Calm Energy Image"
				class="w-12 h-12 rounded-full"
			/>
      <!-- Optional: Dropdown Menu or Notifications -->
    </div>
</header>