---
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Big Red Charts</title>
  <!-- Optional: Include Heroicons for Icons -->
  <script src="https://unpkg.com/heroicons@2.0.18/dist/heroicons.min.js"></script>
  <script src="/scripts/gtm.js"></script>  
</head>
<body class="flex h-screen bg-gray-100">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M952JMG5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Sidebar -->
  <div class="hidden xl:flex xl:flex-col xl:h-screen bg-red-600">
    <Sidebar />
  </div>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col overflow-hidden">

    <!-- Header -->
    <Header />

    <!-- Main Body -->
    <main class="flex-1 overflow-y-auto p-6">
      <slot />
    </main>
  </div>

</body>
</html>
