---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate } = Astro.props;

// ADD MY FUNCTION HERE
const formatDate = (date: string | Date): string => {
  const parsedDate = new Date(date);
  if (isNaN(parsedDate.getTime())) {
    throw new Error('Invalid date');
  }

  return new Intl.DateTimeFormat('en-US', {
    month: 'long', // Full month name (e.g., "January")
    day: '2-digit', // Two-digit day (e.g., "25")
    year: 'numeric', // Full year (e.g., "2025")
  })
    .format(parsedDate)
    .replace(', ', ' / ');
};

const formattedPubDate = formatDate(pubDate);
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Big Red Charts</title>
  <!-- Optional: Include Heroicons for Icons -->
  <script src="https://unpkg.com/heroicons@2.0.18/dist/heroicons.min.js"></script>  
  <script src="/scripts/gtm.js"></script>  
</head>
<body class="flex h-screen bg-gray-100">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M952JMG5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Sidebar -->
  <div class="hidden xl:flex xl:flex-col xl:h-screen bg-red-600">
    <Sidebar />
  </div>


  <!-- Main Content -->
  <div class="flex-1 flex flex-col overflow-hidden">

    <!-- Header -->
    <Header />

    <!-- Main Body -->
    <main class="flex-1 overflow-y-auto p-6 flex flex-col items-center">
      <article class="prose prose-stone mb-10 w-full">
        <h3>{title}</h3>
        <span class="text-sm">{formattedPubDate}</span>
        <slot />
      </article>
    </main>    
  </div>

</body>
</html>
