---
// Component Imports
import MainLayout from '../../layouts/MainLayout.astro';
import TotalYardsChart from '../../components/offense/TotalYardsChart.tsx';
import SchoolStatsTable from '../../components/SchoolStatsTable.tsx';
import calculateSchoolAverages from '../../utils/statAverage';
import dataframes from '../../data/BoxScoreAnalysis';
import type { SchoolAverage } from '../../utils/statAverage';

const allData = dataframes;
const yardsAverages: SchoolAverage[] = calculateSchoolAverages(allData.Multi_School_TotalYards, 'stat', true)
---

<MainLayout>
	<!-- Total Rush Yards -->
	<div class="bg-white p-2 mt-4">
        <h2 class="text-xl font-bold text-center">Total Yards Rushing per Game for the Huskers</h2>
        <h3 class="text-md text-center">2024 Season (Big Ten Games Only)</h3>
    </div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-8 mx-8 my-12">
		<div class="bg-white shadow-md rounded-lg p-6 md:col-span-2">
			<div class="text-red-500 text-2xl font-bold">Total Rushing Yards Chart</div>
			<div class="text-sm mb-4">(Select additional schools for more data)</div>
			<TotalYardsChart client:only="react"/>
		</div>
		<div class="bg-white shadow-md rounded-lg p-6">
			<div class="text-red-500 text-2xl font-bold mb-2">Rushing Yards</div>
			<SchoolStatsTable data={yardsAverages} />
		</div>
	</div>
</MainLayout>
